{
	"code": 200,
	"msg": "ok",
	"result": [{
			"title": "成语",
			"type": "语言",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463189x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "成语可不止有四个字哟",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "Fate",
			"type": "动漫",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463212x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "吾王 == 亚瑟王 != 德玛西亚",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "进击的巨人",
			"type": "动漫",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463230x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "一口人吃下去，油油腻腻血血飙",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "动漫名称",
			"type": "动漫",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463247x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "动漫大杂烩",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "名侦探柯南",
			"type": "动漫",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463263x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "一集死一个，一集死一群",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "美妆",
			"type": "生活",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463279x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "我要美美哒",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "NBA",
			"type": "体育",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463291x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "你打篮球真像蔡徐坤",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "足球",
			"type": "体育",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463307x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "黄油手，香港脚",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "物理",
			"type": "学科",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463329x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "金老师带你运动",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "数学",
			"type": "学科",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463341x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "3 + 2 - 5 * 0",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "天文",
			"type": "学科",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463353x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "带你去黑洞游一游",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "明星",
			"type": "娱乐",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463365x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "反正这么多明星我认识的没几个",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "电视剧",
			"type": "娱乐",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463377x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "泡泡泡剧",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "电影",
			"type": "娱乐",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463392x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "来一桶爆米花加辣",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "王者荣耀",
			"type": "游戏",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463408x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "五黑连败下分局",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "阴阳师",
			"type": "游戏",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463422x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "100连抽变非酋",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "刺激战场",
			"type": "游戏",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463436x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "给我15倍镜AWM",
			"author": "HalaWKS and sadaharusong"
		},
		{
			"title": "花卉",
			"type": "生活",
			"iconUrl": "http://gwjyhs.com/t6/702/1556463456x1822611299.jpg",
			"subTitle": "旁白君",
			"description": "养养花，看看草，世界多美好",
			"author": "HalaWKS and sadaharusong"
		}
	]
}